
@{
  ViewBag.Title = "Home Page";
}

<div class="container-fluid mt-5 border-bottom p-0 rounded" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <img class="rounded" width="100%" src="~/img/collegestudentsfriends.jpg" />
</div>

<div class="containercontainer-fluid mt-5">
    <div class="container" style="font-family: 'Chela One', sans-serif;">
        <h1>The <span class="text-success">Campus Feedback</span> Survey System</h1>
        <h4>
            is an online platform designed to collect and analyze
            feedback from students regarding their educational experience. This report provides an
            overview of the system, including its goals, specifications, and key features. It aims to
            outline the importance of implementing such a system and highlight the benefits it brings
            to educational institutions
        </h4>
    </div>
</div>



<footer class="footer">
    @* adding footer*@
    <div class="mt-5 p-4 bg-dark text-white text-center">
        <p>All Rights Reserved by Jannatul Ferdous Chaity</p>
        <a class="page-link" asp-controller="App" asp-action="SurveyResults">Login as Admin</a>
    </div>
</footer>

